<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokenbrowser">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:name="com.tokenbrowser.view.BaseApplication"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.tokenbrowser.view.activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.tokenbrowser.view.activity.MainActivity"
                  android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.tokenbrowser.view.activity.ChatActivity"
                  android:parentActivityName="com.tokenbrowser.view.activity.MainActivity"
                  android:windowSoftInputMode="stateUnchanged">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tokenbrowser.view.activity.MainActivity" />
        </activity>

        <activity android:name="com.tokenbrowser.view.activity.ViewUserActivity" />
        <activity android:name="com.tokenbrowser.view.activity.ProfileActivity" />
        <activity android:name="com.tokenbrowser.view.activity.UserSearchActivity" />
        <activity android:name="com.tokenbrowser.view.activity.AmountActivity" />
        <activity android:name="com.tokenbrowser.view.activity.ScannerActivity"
                  android:theme="@style/FullScreenTheme"/>
        <activity android:name="com.tokenbrowser.view.activity.ChooseContactsActivity" />
        <activity android:name="com.tokenbrowser.view.activity.AboutActivity" />
        <activity android:name="com.tokenbrowser.view.activity.LicenseListActivity" />
        <activity android:name="com.tokenbrowser.view.activity.LicenseActivity" />
        <activity android:name="com.tokenbrowser.view.activity.ViewAppActivity" />
        <activity android:name="com.tokenbrowser.view.activity.TrustedFriendsActivity" />
        <activity android:name="com.tokenbrowser.view.activity.BackupPhraseInfoActivity" />
        <activity android:name="com.tokenbrowser.view.activity.BackupPhraseActivity" />
        <activity android:name="com.tokenbrowser.view.activity.BackupPhraseVerifyActivity" />
        <activity android:name="com.tokenbrowser.view.activity.DepositActivity" />
        <activity android:name="com.tokenbrowser.view.activity.FullscreenImageActivity"/>
        <activity android:name="com.tokenbrowser.view.activity.ImageConfirmationActivity" />
        <activity android:name="com.tokenbrowser.view.activity.SignInActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d6f421ea196993dc3048f7ba96ef27a75a55b2a2" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="gcm.play.android.samples.com.gcmquickstart" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.tokenbrowser.service.NotificationDismissedReceiver"
            android:exported="false" >
        </receiver>

        <receiver
            android:name="com.tokenbrowser.service.NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.tokenbrowser.service.GcmMessageReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name="com.tokenbrowser.service.InstanceIdService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>

        <service
            android:name="com.tokenbrowser.service.RegistrationIntentService"
            android:exported="false">
        </service>

        <!-- Content provider for taking photos with the camera -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.photos"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

    </application>

</manifest>